<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- 从指定型号的yaml文件中加载配置数据。 -->
  <xacro:macro
    name="read_model_config"
    params="joint_limit_parameter_file
            robot_kinematics_parameter_file
            physical_parameter_file
            visual_parameter_file
            force_abs_path">
    <xacro:property name="force_abs_path" value="${force_abs_path}" scope="parent" />

    <!-- 关节限制参数 -->
    <xacro:property name="cfg_joint_limit_parameter" value="${xacro.load_yaml(joint_limit_parameter_file)}" />
    <xacro:property name="sec_joint_limit" value="${cfg_joint_limit_parameter['joint_limit']}" />

    <xacro:property name="joint_1_lower_limit" value="${sec_joint_limit['joint_1']['min_position']}" scope="parent" />
    <xacro:property name="joint_1_upper_limit" value="${sec_joint_limit['joint_1']['max_position']}" scope="parent" />
    <xacro:property name="joint_1_velocity_limit" value="${sec_joint_limit['joint_1']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_1_effort_limit" value="${sec_joint_limit['joint_1']['max_effort']}" scope="parent" />

    <xacro:property name="joint_2_lower_limit" value="${sec_joint_limit['joint_2']['min_position']}" scope="parent" />
    <xacro:property name="joint_2_upper_limit" value="${sec_joint_limit['joint_2']['max_position']}" scope="parent" />
    <xacro:property name="joint_2_velocity_limit" value="${sec_joint_limit['joint_2']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_2_effort_limit" value="${sec_joint_limit['joint_2']['max_effort']}" scope="parent" />

    <xacro:property name="joint_3_lower_limit" value="${sec_joint_limit['joint_3']['min_position']}" scope="parent" />
    <xacro:property name="joint_3_upper_limit" value="${sec_joint_limit['joint_3']['max_position']}" scope="parent" />
    <xacro:property name="joint_3_velocity_limit" value="${sec_joint_limit['joint_3']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_3_effort_limit" value="${sec_joint_limit['joint_3']['max_effort']}" scope="parent" />

    <xacro:property name="joint_4_lower_limit" value="${sec_joint_limit['joint_4']['min_position']}" scope="parent" />
    <xacro:property name="joint_4_upper_limit" value="${sec_joint_limit['joint_4']['max_position']}" scope="parent" />
    <xacro:property name="joint_4_velocity_limit" value="${sec_joint_limit['joint_4']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_4_effort_limit" value="${sec_joint_limit['joint_4']['max_effort']}" scope="parent" />

    <xacro:property name="joint_5_lower_limit" value="${sec_joint_limit['joint_5']['min_position']}" scope="parent" />
    <xacro:property name="joint_5_upper_limit" value="${sec_joint_limit['joint_5']['max_position']}" scope="parent" />
    <xacro:property name="joint_5_velocity_limit" value="${sec_joint_limit['joint_5']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_5_effort_limit" value="${sec_joint_limit['joint_5']['max_effort']}" scope="parent" />

    <xacro:property name="joint_6_lower_limit" value="${sec_joint_limit['joint_6']['min_position']}" scope="parent" />
    <xacro:property name="joint_6_upper_limit" value="${sec_joint_limit['joint_6']['max_position']}" scope="parent" />
    <xacro:property name="joint_6_velocity_limit" value="${sec_joint_limit['joint_6']['max_velocity']}" scope="parent" />
    <xacro:property name="joint_6_effort_limit" value="${sec_joint_limit['joint_6']['max_effort']}" scope="parent" />

    <!-- 机器人运动学参数 -->
    <xacro:property name="cfg_robot_kinematics_parameter" value="${xacro.load_yaml(robot_kinematics_parameter_file)}" />
    <xacro:property name="sec_robot_kinematics" value="${cfg_robot_kinematics_parameter['robot_kinematics']}" />

    <xacro:property name="joint_1_x" value="${sec_robot_kinematics['joint_1']['x']}" scope="parent" />
    <xacro:property name="joint_1_y" value="${sec_robot_kinematics['joint_1']['y']}" scope="parent" />
    <xacro:property name="joint_1_z" value="${sec_robot_kinematics['joint_1']['z']}" scope="parent" />
    <xacro:property name="joint_1_roll" value="${sec_robot_kinematics['joint_1']['roll']}" scope="parent" />
    <xacro:property name="joint_1_pitch" value="${sec_robot_kinematics['joint_1']['pitch']}" scope="parent" />
    <xacro:property name="joint_1_yaw" value="${sec_robot_kinematics['joint_1']['yaw']}" scope="parent" />

    <xacro:property name="joint_2_x" value="${sec_robot_kinematics['joint_2']['x']}" scope="parent" />
    <xacro:property name="joint_2_y" value="${sec_robot_kinematics['joint_2']['y']}" scope="parent" />
    <xacro:property name="joint_2_z" value="${sec_robot_kinematics['joint_2']['z']}" scope="parent" />
    <xacro:property name="joint_2_roll" value="${sec_robot_kinematics['joint_2']['roll']}" scope="parent" />
    <xacro:property name="joint_2_pitch" value="${sec_robot_kinematics['joint_2']['pitch']}" scope="parent" />
    <xacro:property name="joint_2_yaw" value="${sec_robot_kinematics['joint_2']['yaw']}" scope="parent" />

    <xacro:property name="joint_3_x" value="${sec_robot_kinematics['joint_3']['x']}" scope="parent" />
    <xacro:property name="joint_3_y" value="${sec_robot_kinematics['joint_3']['y']}" scope="parent" />
    <xacro:property name="joint_3_z" value="${sec_robot_kinematics['joint_3']['z']}" scope="parent" />
    <xacro:property name="joint_3_roll" value="${sec_robot_kinematics['joint_3']['roll']}" scope="parent" />
    <xacro:property name="joint_3_pitch" value="${sec_robot_kinematics['joint_3']['pitch']}" scope="parent" />
    <xacro:property name="joint_3_yaw" value="${sec_robot_kinematics['joint_3']['yaw']}" scope="parent" />

    <xacro:property name="joint_4_x" value="${sec_robot_kinematics['joint_4']['x']}" scope="parent" />
    <xacro:property name="joint_4_y" value="${sec_robot_kinematics['joint_4']['y']}" scope="parent" />
    <xacro:property name="joint_4_z" value="${sec_robot_kinematics['joint_4']['z']}" scope="parent" />
    <xacro:property name="joint_4_roll" value="${sec_robot_kinematics['joint_4']['roll']}" scope="parent" />
    <xacro:property name="joint_4_pitch" value="${sec_robot_kinematics['joint_4']['pitch']}" scope="parent" />
    <xacro:property name="joint_4_yaw" value="${sec_robot_kinematics['joint_4']['yaw']}" scope="parent" />

    <xacro:property name="joint_5_x" value="${sec_robot_kinematics['joint_5']['x']}" scope="parent" />
    <xacro:property name="joint_5_y" value="${sec_robot_kinematics['joint_5']['y']}" scope="parent" />
    <xacro:property name="joint_5_z" value="${sec_robot_kinematics['joint_5']['z']}" scope="parent" />
    <xacro:property name="joint_5_roll" value="${sec_robot_kinematics['joint_5']['roll']}" scope="parent" />
    <xacro:property name="joint_5_pitch" value="${sec_robot_kinematics['joint_5']['pitch']}" scope="parent" />
    <xacro:property name="joint_5_yaw" value="${sec_robot_kinematics['joint_5']['yaw']}" scope="parent" />

    <xacro:property name="joint_6_x" value="${sec_robot_kinematics['joint_6']['x']}" scope="parent" />
    <xacro:property name="joint_6_y" value="${sec_robot_kinematics['joint_6']['y']}" scope="parent" />
    <xacro:property name="joint_6_z" value="${sec_robot_kinematics['joint_6']['z']}" scope="parent" />
    <xacro:property name="joint_6_roll" value="${sec_robot_kinematics['joint_6']['roll']}" scope="parent" />
    <xacro:property name="joint_6_pitch" value="${sec_robot_kinematics['joint_6']['pitch']}" scope="parent" />
    <xacro:property name="joint_6_yaw" value="${sec_robot_kinematics['joint_6']['yaw']}" scope="parent" />

    <!-- 物理参数 -->
    <xacro:property name="cfg_physical_parameter" value="${xacro.load_yaml(physical_parameter_file)}" />
    <xacro:property name="sec_physical_parameter" value="${cfg_physical_parameter['physical_parameter']}" />

    <xacro:property name="link_0_mass" value="${sec_physical_parameter['link_0']['mass']}" scope="parent" />
    <xacro:property name="prop_link_0_cog" value="${sec_physical_parameter['link_0']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_0_cog" value="${prop_link_0_cog['x']} ${prop_link_0_cog['y']} ${prop_link_0_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_0_inertia_rotation" value="${sec_physical_parameter['link_0']['rotation']}" scope="parent" />
    <xacro:property name="link_0_inertia_rotation" value="${prop_link_0_inertia_rotation['roll']} ${prop_link_0_inertia_rotation['pitch']} ${prop_link_0_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_0_inertia" value="${sec_physical_parameter['link_0']['tensor']}" scope="parent" />
    <xacro:property name="link_0_inertia_ixx" value="${prop_link_0_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_0_inertia_ixy" value="${prop_link_0_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_0_inertia_ixz" value="${prop_link_0_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_0_inertia_iyy" value="${prop_link_0_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_0_inertia_iyz" value="${prop_link_0_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_0_inertia_izz" value="${prop_link_0_inertia['izz']}" scope="parent" />

    <xacro:property name="link_1_mass" value="${sec_physical_parameter['link_1']['mass']}" scope="parent" />
    <xacro:property name="prop_link_1_cog" value="${sec_physical_parameter['link_1']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_1_cog" value="${prop_link_1_cog['x']} ${prop_link_1_cog['y']} ${prop_link_1_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_1_inertia_rotation" value="${sec_physical_parameter['link_1']['rotation']}" scope="parent" />
    <xacro:property name="link_1_inertia_rotation" value="${prop_link_1_inertia_rotation['roll']} ${prop_link_1_inertia_rotation['pitch']} ${prop_link_1_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_1_inertia" value="${sec_physical_parameter['link_1']['tensor']}" scope="parent" />
    <xacro:property name="link_1_inertia_ixx" value="${prop_link_1_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_1_inertia_ixy" value="${prop_link_1_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_1_inertia_ixz" value="${prop_link_1_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_1_inertia_iyy" value="${prop_link_1_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_1_inertia_iyz" value="${prop_link_1_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_1_inertia_izz" value="${prop_link_1_inertia['izz']}" scope="parent" />

    <xacro:property name="link_2_mass" value="${sec_physical_parameter['link_2']['mass']}" scope="parent" />
    <xacro:property name="prop_link_2_cog" value="${sec_physical_parameter['link_2']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_2_cog" value="${prop_link_2_cog['x']} ${prop_link_2_cog['y']} ${prop_link_2_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_2_inertia_rotation" value="${sec_physical_parameter['link_2']['rotation']}" scope="parent" />
    <xacro:property name="link_2_inertia_rotation" value="${prop_link_2_inertia_rotation['roll']} ${prop_link_2_inertia_rotation['pitch']} ${prop_link_2_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_2_inertia" value="${sec_physical_parameter['link_2']['tensor']}" scope="parent" />
    <xacro:property name="link_2_inertia_ixx" value="${prop_link_2_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_2_inertia_ixy" value="${prop_link_2_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_2_inertia_ixz" value="${prop_link_2_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_2_inertia_iyy" value="${prop_link_2_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_2_inertia_iyz" value="${prop_link_2_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_2_inertia_izz" value="${prop_link_2_inertia['izz']}" scope="parent" />

    <xacro:property name="link_3_mass" value="${sec_physical_parameter['link_3']['mass']}" scope="parent" />
    <xacro:property name="prop_link_3_cog" value="${sec_physical_parameter['link_3']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_3_cog" value="${prop_link_3_cog['x']} ${prop_link_3_cog['y']} ${prop_link_3_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_3_inertia_rotation" value="${sec_physical_parameter['link_3']['rotation']}" scope="parent" />
    <xacro:property name="link_3_inertia_rotation" value="${prop_link_3_inertia_rotation['roll']} ${prop_link_3_inertia_rotation['pitch']} ${prop_link_3_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_3_inertia" value="${sec_physical_parameter['link_3']['tensor']}" scope="parent" />
    <xacro:property name="link_3_inertia_ixx" value="${prop_link_3_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_3_inertia_ixy" value="${prop_link_3_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_3_inertia_ixz" value="${prop_link_3_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_3_inertia_iyy" value="${prop_link_3_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_3_inertia_iyz" value="${prop_link_3_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_3_inertia_izz" value="${prop_link_3_inertia['izz']}" scope="parent" />

    <xacro:property name="link_4_mass" value="${sec_physical_parameter['link_4']['mass']}" scope="parent" />
    <xacro:property name="prop_link_4_cog" value="${sec_physical_parameter['link_4']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_4_cog" value="${prop_link_4_cog['x']} ${prop_link_4_cog['y']} ${prop_link_4_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_4_inertia_rotation" value="${sec_physical_parameter['link_4']['rotation']}" scope="parent" />
    <xacro:property name="link_4_inertia_rotation" value="${prop_link_4_inertia_rotation['roll']} ${prop_link_4_inertia_rotation['pitch']} ${prop_link_4_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_4_inertia" value="${sec_physical_parameter['link_4']['tensor']}" scope="parent" />
    <xacro:property name="link_4_inertia_ixx" value="${prop_link_4_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_4_inertia_ixy" value="${prop_link_4_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_4_inertia_ixz" value="${prop_link_4_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_4_inertia_iyy" value="${prop_link_4_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_4_inertia_iyz" value="${prop_link_4_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_4_inertia_izz" value="${prop_link_4_inertia['izz']}" scope="parent" />

    <xacro:property name="link_5_mass" value="${sec_physical_parameter['link_5']['mass']}" scope="parent" />
    <xacro:property name="prop_link_5_cog" value="${sec_physical_parameter['link_5']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_5_cog" value="${prop_link_5_cog['x']} ${prop_link_5_cog['y']} ${prop_link_5_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_5_inertia_rotation" value="${sec_physical_parameter['link_5']['rotation']}" scope="parent" />
    <xacro:property name="link_5_inertia_rotation" value="${prop_link_5_inertia_rotation['roll']} ${prop_link_5_inertia_rotation['pitch']} ${prop_link_5_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_5_inertia" value="${sec_physical_parameter['link_5']['tensor']}" scope="parent" />
    <xacro:property name="link_5_inertia_ixx" value="${prop_link_5_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_5_inertia_ixy" value="${prop_link_5_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_5_inertia_ixz" value="${prop_link_5_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_5_inertia_iyy" value="${prop_link_5_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_5_inertia_iyz" value="${prop_link_5_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_5_inertia_izz" value="${prop_link_5_inertia['izz']}" scope="parent" />

    <xacro:property name="link_6_mass" value="${sec_physical_parameter['link_6']['mass']}" scope="parent" />
    <xacro:property name="prop_link_6_cog" value="${sec_physical_parameter['link_6']['center_of_mass']}" scope="parent" />
    <xacro:property name="link_6_cog" value="${prop_link_6_cog['x']} ${prop_link_6_cog['y']} ${prop_link_6_cog['z']}" scope="parent" />
    <xacro:property name="prop_link_6_inertia_rotation" value="${sec_physical_parameter['link_6']['rotation']}" scope="parent" />
    <xacro:property name="link_6_inertia_rotation" value="${prop_link_6_inertia_rotation['roll']} ${prop_link_6_inertia_rotation['pitch']} ${prop_link_6_inertia_rotation['yaw']}" scope="parent" />
    <xacro:property name="prop_link_6_inertia" value="${sec_physical_parameter['link_6']['tensor']}" scope="parent" />
    <xacro:property name="link_6_inertia_ixx" value="${prop_link_6_inertia['ixx']}" scope="parent" />
    <xacro:property name="link_6_inertia_ixy" value="${prop_link_6_inertia['ixy']}" scope="parent" />
    <xacro:property name="link_6_inertia_ixz" value="${prop_link_6_inertia['ixz']}" scope="parent" />
    <xacro:property name="link_6_inertia_iyy" value="${prop_link_6_inertia['iyy']}" scope="parent" />
    <xacro:property name="link_6_inertia_iyz" value="${prop_link_6_inertia['iyz']}" scope="parent" />
    <xacro:property name="link_6_inertia_izz" value="${prop_link_6_inertia['izz']}" scope="parent" />

    <!-- 视觉参数 -->
    <xacro:property name="cfg_visual_parameter" value="${xacro.load_yaml(visual_parameter_file)}" />
    <xacro:property name="sec_visual_parameter" value="${cfg_visual_parameter['visual_parameter']}" scope="parent" />
  </xacro:macro>

  <!-- 根据指定的连杆名和模型类型返回模型文件参数，模型类型包括visual和collision，如果没有定义对应类型的参数，则返回空。 -->
  <xacro:macro name="get_mesh_param" params="name:=^ type:=^">
    <xacro:if value="${type in sec_visual_parameter[name]}">
      <xacro:property name="mesh_param" value="${sec_visual_parameter[name][type]}" scope="parent" />
    </xacro:if>
    <xacro:unless value="${type in sec_visual_parameter[name]}">
      <xacro:property name="mesh_param" value="" scope="parent" />
    </xacro:unless>
  </xacro:macro>

  <!-- 当使用Gazebo时，需使用绝对路径，否则使用相对路径。 -->
  <xacro:macro name="get_mesh_path" params="name:=^ type:=^">
    <xacro:get_mesh_param />
    <xacro:if value="${force_abs_path}">
      <xacro:property name="mesh_path" value="file://$(find ${mesh_param['mesh']['package']})/${mesh_param['mesh']['path']}" scope="parent" />
    </xacro:if>
    <xacro:unless value="${force_abs_path}">
      <xacro:property name="mesh_path" value="package://${mesh_param['mesh']['package']}/${mesh_param['mesh']['path']}" scope="parent" />
    </xacro:unless>
  </xacro:macro>

  <!-- 从配置文件中获取模型文件。 -->
  <xacro:macro name="get_mesh" params="name type">
    <xacro:get_mesh_path />
    <mesh filename="${mesh_path}" />
  </xacro:macro>
</robot>