<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg robot_name)">
  <xacro:arg name="robot_name" default="robot_1" />
  <xacro:arg name="robot_type" default="abb/crb15000" />
  <xacro:arg name="joint_limit_param" default="$(find peeks_robot_descriptions)/config/robots/$(arg robot_type)/joint_limit.yaml" />
  <xacro:arg name="robot_kinematics_param" default="$(find peeks_robot_descriptions)/config/robots/$(arg robot_type)/robot_kinematics.yaml" />
  <xacro:arg name="robot_physical_param" default="$(find peeks_robot_descriptions)/config/robots/$(arg robot_type)/physical_parameter.yaml" />
  <xacro:arg name="robot_visual_param" default="$(find peeks_robot_descriptions)/config/robots/$(arg robot_type)/visual_parameter.yaml" />
  <xacro:arg name="tool_name" default="tool_1" />
  <xacro:arg name="tool_type" default="dummy" />
  <xacro:arg name="tool_physical_param" default="$(find peeks_robot_descriptions)/config/tools/$(arg tool_type)/physical_parameter.yaml" />
  <xacro:arg name="tool_visual_param" default="$(find peeks_robot_descriptions)/config/tools/$(arg tool_type)/visual_parameter.yaml" />
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="force_abs_path" default="false" />

  <xacro:include filename="$(find peeks_robot_descriptions)/urdf/inc/create_robot.xacro" />
  <xacro:include filename="$(find peeks_robot_descriptions)/urdf/inc/create_tool.xacro" />

  <link name="world_link" />

  <xacro:create_robot
    robot_name="$(arg robot_name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world_link"
    joint_limit_parameter_file="$(arg joint_limit_param)"
    robot_kinematics_parameter_file="$(arg robot_kinematics_param)"
    physical_parameter_file="$(arg robot_physical_param)"
    visual_parameter_file="$(arg robot_visual_param)"
    force_abs_path="$(arg force_abs_path)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:create_robot>

  <xacro:create_tool
    tool_name="$(arg tool_name)"
    tf_prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)flange_link"
    physical_parameter_file="$(arg tool_physical_param)"
    visual_parameter_file="$(arg tool_visual_param)"
    force_abs_path="$(arg force_abs_path)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:create_tool>
</robot>